body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

//
// Add the correct font weight in Chrome, Edge, and Safari.
//
b,
strong {
  font-weight: bold;
}

//
// Remove extra vertical spacing when nesting lists.
//
li > {

  ol,
  ul {
    margin-bottom: 0;
  }

}
